streamlit >= 1.4.0
pip iunstall
streamlit-option-menu
streamlit-tags

pandas >= 1.0.5
numpy >= 1.18.5
scipy >= 1.6.1

tweepy
git+https://github.com/twintproject/twint.git@origin/master#egg=twint
snscrape >= 0.3.4

datetime
timedelta

plotly.express

requests 
beautifulsoup4
